@import url('https://fonts.googleapis.com/css?family=Lato');

body, html, footer, header, .wrapper {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute;

    height: 100%;
    width: 100%;

    font-family: 'Lato', monospace;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

header {
    height: 160px;
    opacity: .8;
    border-bottom: 1px solid black;
    box-shadow: 2px 5px 19px black;
    border-radius: 2px;
    z-index: 999;
}

header > h1 {
    position: relative;
    left: 8%;
    font-weight: 500;
    top:5%;
    font-size: 31px;
    width: 25%;
    text-decoration:underline;
}

.wrapper {
    top: 160px;
    height: 1700px;
    z-index: -999;
    opacity: .9;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sendWrapper, .receiveWrapper {
    width: 48%;
    top: 40px;
    display: inline-block;
    position: absolute;
}

.receiveWrapper {
    left: 51%;
}

video {
    position: relative;
    width: 97%;
    border: 1px solid black;
    box-shadow: 2px 5px 19px black;
    padding: 3px;
    margin: 15px;
    border-radius: 45px;
    background-color: white;
}

video:hover, .sendWrapper:hover, .receiveWrapper:hover {
    opacity: .6;
}

button {
    width: 150px;
    padding: 25px;
    box-shadow: 2px 5px 19px black;
    border-radius: 5px;
    color: white;
    background-color: black;
}

button:hover {
    color: black;
    background-color: white;
}

#sendBtn {
    position: relative;
    left: 25%;
}

.chatWrapper {
    position: absolute;
    top: 550px;
    align-content: center;
    text-align: center;
    left: 12%;
}

.chatWrapper > div > input, .chatWrapper > div > button, .chatWrapper > div {
    display: inline-block;
}

.chatWrapper > div {
    top: 150px;
    position: relative;
}

#chatMsgWrapper {
    right: 5px;
}

#msgWrapper {
    display: block;
}

input {
    margin-top: 15px;
    border: 1px solid black;
    box-shadow: 2px 5px 19px black;
    border-radius: 5px;
    background-color: white;
    color: black;
    outline: none;
    width: 250px;
    padding: 25px;
    text-align: left;
}

input:hover {
    opacity: 0.5;
}

footer {
    top: 1860px;
    font-weight: 500;
    font-size: 24px;
    border-top: 1px solid black;
    box-shadow: 2px 5px 19px black;
    z-index: 999;
    border-radius: 2px;
    height: 175px;
}

footer > ul {
    top: 25%;
    width: 65%;
    left: 21%;
    position: relative;
}

footer > ul > li > a, footer > ul > li {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-family: 'Lato', monospace;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

footer > ul > li > a:hover {
    color: gray;
    opacity: .6;
}

footer > ul > li {
    width: 30%;
}