<div class="chatWrapper">
    <input type="text" id="chatName" placeholder="Set Your Chat Name"></input><br/>
    <button id="initChatBtn">Connect</button><br/>
    <input type="text" id="chatMsg" placeholder="Type Something Here"></input><br/>
    <button id="chatBtn">Send Message</button>
    <div id="msgWrapper"></div>
</div>