<div class="chatWrapper">
    <div>
        <input type="text" id="chatName" placeholder="Set Your Chat Name"></input>
        <button id="initChatBtn">Connect</button>
    </div>
    <div>
        <input type="text" id="chatMsg" placeholder="Type Something Here"></input>
        <button id="chatBtn">Send Message</button>
    </div>
    <div id="msgWrapper"></div>
</div>